# While loops
and the statment in while loop are in intended(white space in the begining)

In [1]:
i=0
while i<10:
    print("Hello World")
    i=i+1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

# Range in python

1/3 form

In [ ]:
r = range(5) # it gives 0 to 5 
print(r)       # it gives 0 to x-1;
l= list(r)
print(l)
print(type(r)) # it gives of type range

range(0, 5)
[0, 1, 2, 3, 4]
<class 'range'>

2/3form

In [5]:
r = range(10,20)  # RANGE WITH TWO Parameter  and it gives range from 10 to 19
l = list(r)
print(l)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
r  = range(-5,7)
l = list(r)
print(l)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

3/3 form (with three parameters )

In [7]:
r = range(10,20,2) #its like x , x+z .. till x<y
l =list(r)
print(l)

[10, 12, 14, 16, 18]

In [8]:
range(start, stop, step)

NameError: name 'start' is not defined

# For loop

for x in seq :
    <br>
    statement 1
    <br>
    statement 2
    <br>
    staatement 3
    <br>
    seq can be list strig ,tuple,dictionary;

In [9]:
l = [1,2,3,4,5,6]
for x in l:
    print(x)

1
2
3
4
5
6

In [11]:
s = "hello"
for x in s:
    print(x)

h
e
l
l
o

In [12]:
for x in range(10):
   print(x)

0
1
2
3
4
5
6
7
8
9

In [18]:
for x in range(20):
    if x%6==0:
      print(x)

0
6
12
18