OUTPUT FUNCTION

python code is interpreted , it is dynammically type language and it does not need to stat type of data type;

In [2]:
print("Hello World");

Hello World

variables in python

In [3]:
price = 38
tax = 18
total_price = price +tax 
print(total_price)

56

None value

In [ ]:
x = None
print(x)  #none does not means 0,false or anything

None

Assigning value with variable using comma operator

In [4]:
x,y,z = "python",67,89.08

In [5]:
print(x)
print(y)
print(z)

python
67
89.08

Id function

In [6]:
print(id(5))

140718005597224

In [7]:
a = 10
print(id(a))
b = a
print((id(b)))

140718005597384
140718005597384

in pyhton variable act as a reference  as we can check by taking id of variable

In [9]:
a = 10
b = 10
print(id(a))
print(id(b))
b = 5
print(id(b))

140718005597384
140718005597384
140718005597224

üîç What id() Really Shows
- id(x) returns the identity (memory address) of the object x refers to.
- In CPython, integers from ‚Äì5 to 256 are interned ‚Äî meaning Python reuses these immutable objects to save memory and speed up comparisons.
So when you do:
a = 10
b = 10


Both a and b point to the same object in memory ‚Äî the interned integer 10.

üß† Why Does b = 5 Change the ID?
When you reassign b = 5, Python doesn‚Äôt modify the existing object. Instead:
- It creates a new reference to the interned integer 5.
- So b now points to a different object, and id(b) reflects that.

IS OPERATOR IN PYHTON

The is operator checks whether two variables point to the exact same object in memory ‚Äî not just whether they have the same value.

In [10]:
a= 10
b = 10
print(a is b)

True

In [12]:
c = b
print ( c is a )
c = 20
print(c is b)

True
False

SWAP TWO VARIABLES

In Python, a variable does not store the actual value directly like in C++.

Instead, it refers to an object in memory. Every value in Python is an object, and the variable points to that object.

In [1]:
x = 100
y = 50
temp = x  
x= y
y = temp
print(x)

50

In [2]:
print(y)

100

swap in python using comma operator

In [3]:
x = 100
y =50
x,y = y,x
print(x)
print(y)

50
100

type() in python

In [15]:
a = 10
b = 3.45
c = "shj"
d = True
e = None
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [14]:
type(a)

int

type of sequence

In [18]:
str = "hello"
fruits =["banana","apple",78,65]
t_tuple = ("hello ","how","are","you",89)
sets = {10,30,"hello"}
dictionary = {"name":"chandrachud siddharth",
              "age":19,
               "class":12}
print(type(str))
print(type(fruits))
print(type(t_tuple))   #tuple value  can't be changed neither pop nor push
print(type(sets))        #sets have distinct object
print(type(dictionary)) # dictionary{key:value}

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

List in pyhton

list = [1,2,3,4,5]                                                           
index =[0,1,2,3,4]                                                           
-ve_index=[-5,-4,-3,-2,-1]

In [19]:
l = [1,2,3,4,"hello"]
print(l[0])
print(l[-1])
print([l[-2]])

1
hello
[4]

LIST FUNCTION

In [20]:
# Initial list with integers and a string
l = [1, 2, 3, 4, 5, 5, "hello"]  
print(l)   # Output: [1, 2, 3, 4, 5, 5, 'hello']

# append(x) ‚Üí Adds element at the END of the list
l.append(30)  
print(l)   # Output: [1, 2, 3, 4, 5, 5, 'hello', 30]

# insert(index, value) ‚Üí Inserts element at a specific position
l.insert(1, 15)  
print(l)   # Output: [1, 15, 2, 3, 4, 5, 5, 'hello', 30]

# in keyword ‚Üí Checks if element exists in the list, returns True/False
print(15 in l)   # True because 15 exists

# count(x) ‚Üí Returns how many times x appears
print(l.count(5))   # 2 because '5' appears twice

# index(x) ‚Üí Returns the first index of element x
print(l.index(5))   # 5 ‚Üí (the first 5 is at index 5)

# index(x, start, end) ‚Üí Search for x between start and end-1
print(l.index(2, 0, 3))  # 2 ‚Üí because '2' is at index 2 within given range

# remove(x) ‚Üí Removes the FIRST occurrence of element x
l.remove(5)  
# Now only one '5' left in the list

# pop() ‚Üí Removes LAST element and RETURNS it
print(l.pop())   # Removes and returns 30
print(l)   # Output: [1, 15, 2, 3, 4, 5, 'hello']

# pop(index) ‚Üí Removes element at given index and RETURNS it
print(l.pop(3))   # Removes element at index 3 ‚Üí '3'
print(l)   # Output: [1, 15, 2, 4, 5, 'hello']

# del keyword ‚Üí Deletes elements, DOES NOT return anything
del l[1]      # Deletes element at index 1 ‚Üí '15'
del l[3:4]    # Deletes elements in range [3,4) ‚Üí only index 3 ‚Üí '5'
print(l)   # Final Output: [1, 2, 4, 'hello']

[1, 2, 3, 4, 5, 5, 'hello']
[1, 2, 3, 4, 5, 5, 'hello', 30]
[1, 15, 2, 3, 4, 5, 5, 'hello', 30]
True
2
5
2
30
[1, 15, 2, 3, 4, 5, 'hello']
3
[1, 15, 2, 4, 5, 'hello']
[1, 2, 4, 'hello']

In [ ]:
# Initial list of integers
l = [1, 2, 3, 4, 5]

# max(list) ‚Üí Returns the largest element
print(max(l))   # Output: 5

# min(list) ‚Üí Returns the smallest element
print(min(l))   # Output: 1

# sum(list) ‚Üí Returns the sum of all elements (only works if all are numbers)
print(sum(l))   # Output: 15 (1+2+3+4+5)

# Print original list
print(l)   # Output: [1, 2, 3, 4, 5]

# reverse() ‚Üí Reverses the list in-place
l.reverse()
print(l)   # Output: [5, 4, 3, 2, 1]

# sort() ‚Üí Sorts the list in ascending order (numbers small‚Üíbig, strings A‚ÜíZ)
l.sort()
print(l)   # Output: [1, 2, 3, 4, 5]

5
1
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]



### ‚ö° Important Notes:

1. **`max`, `min`, `sum`**

   * Work only if all elements are of the same type:

     * ‚úÖ All numbers (int, float)
     * ‚úÖ All strings (compares alphabetically: `"z" > "a"`)
     * ‚ùå Mixed types (e.g., `[1, "a", 3]`) ‚Üí `TypeError`

   Example:

   ```python
   print(max(["cat", "apple", "dog"]))  # Output: 'dog' (alphabetical order)
   print(min(["cat", "apple", "dog"]))  # Output: 'apple'
   # sum(["a","b"]) ‚Üí ‚ùå Error (can't add strings)
   ```

2. **`reverse`**

   * Just flips the list order, works for any type (numbers, strings, mixed).
   * Doesn‚Äôt care about sorting.

3. **`sort`**

   * Works if all elements are **comparable** (all numbers OR all strings).
   * ‚ùå Mixed types (like `[1, "a", 3]`) will raise `TypeError`.
   * By default sorts **ascending order**:

     * Numbers: `1 < 2 < 3`
     * Strings: `"apple" < "banana" < "cat"`


---

## üîπ **Tuples in Python**

* **Definition**: A tuple is an **ordered collection** of elements, just like a list, but **immutable** (cannot be changed once created).
* **Syntax**: Created using parentheses `()` instead of square brackets `[]`.

```python
# Creating tuples
t1 = (1, 2, 3)  
t2 = ("apple", "banana", "cherry")  
t3 = (1, "hello", 3.5, True)   # mixed data types allowed

print(t1)   # (1, 2, 3)
```

---

## üîπ **Key Properties**

1. **Immutable**

   * You cannot **add, remove, or change** elements in a tuple.

   ```python
   t = (1, 2, 3)
   # t[0] = 10   ‚ùå Error (tuples don't support item assignment)
   ```

2. **Faster than lists**

   * Since tuples are immutable, Python can optimize their storage and performance.
   * Tuples are often used for **fixed collections** of data (like coordinates, database records).

3. **Indexing & Slicing work** (just like lists)

   ```python
   t = (10, 20, 30, 40, 50)
   print(t[0])      # 10 (first element)
   print(t[-1])     # 50 (last element)
   print(t[1:4])    # (20, 30, 40)
   ```

4. **Supports built-in functions** (only read-only ones, since they‚Äôre immutable):

   ```python
   t = (1, 2, 2, 3, 5)
   print(len(t))      # 5
   print(max(t))      # 5
   print(min(t))      # 1
   print(t.count(2))  # 2
   print(t.index(3))  # 3
   ```

---

## üîπ **Tuple vs List**

| Feature        | List (`[]`)                     | Tuple (`()`)                    |
| -------------- | ------------------------------- | ------------------------------- |
| **Mutability** | Mutable (can add/remove/change) | Immutable (cannot change)       |
| **Speed**      | Slower                          | Faster                          |
| **Memory**     | Uses more memory                | Uses less memory                |
| **Use case**   | Dynamic data (changes often)    | Fixed data (constants, records) |

---

‚úÖ **When to use tuple?**

* Coordinates: `(x, y, z)`
* Database rows (fixed values per record)
* Keys in dictionaries (since tuples are hashable but lists are not)

```python
location = (28.6139, 77.2090)  # (latitude, longitude)
student = ("Alice", 20, "Maths")  # fixed record
```

---

üëâ Do you want me to also show a **small benchmark code** comparing speed of list vs tuple operations, so you can see why tuples are faster?

In [25]:
t = (10,20,30)
print(t)
t = ()
print(type(t))
t = (11)
print(type(t))
# single element in tuple is created by 
t = (1,)
print(type(t))

(10, 20, 30)
<class 'tuple'>
<class 'int'>
<class 'tuple'>

function in tuple

In [27]:
t = 1,2,3,4 # without parentheses creating tuple
print(t[2])
print(t[-1])
print(t[1:3])
print(len(t))
print(t.count(4))
print(t.index(2))

3
4
(2, 3)
4
1
1